$resume-one-primary_color: #c5a223;

.resume-format-one {
  width: 100%;
  height: 100%;

  * {
    text-align: left;
    font-family: 'Roboto';
  }
}

.stepper {
  height: 100%;
  .stepper-container {
    width: 100%;
    height: 100%;
  }

  .step {
    // padding: 10px;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    background-color: cream;

    height: calc(100% - 50px);
  }

  .v-stepper {
    position: relative;
  }

  /* regular step */
  .step .circle {
    background-color: white;
    border: 3px solid $resume-one-primary_color;
    border-radius: 100%;
    width: 5px; /* +6 for border */
    height: 5px;
    display: inline-block;
  }

  .step .line {
    top: 13px;
    left: 3px;
    height: 100%;
    position: absolute;
    border-left: 3px solid #373d48;
  }

  .step.completed .circle {
    visibility: visible;
    background-color: #373d48;
    border-color: #373d48;
  }

  .step.completed .line {
    border-left: 3px solid #373d48;
  }
}

.resume-one-component-wrapper {
  border: 10px solid #1597b9;
  border-radius: 4px;
  width: 100%;
  margin: 0 auto;
  padding: 16px;
  box-sizing: border-box;
  // height: 100%;
  overflow: auto;
  // background-color: #eff3f6;
  h1,
  h2,
  h3 {
    margin: 2px;
    font-size: 21px;
    text-transform: uppercase;
    // color: #65696a;
    color: black;
  }

  p {
    display: flex;
    align-items: center;
    margin: 2px;
    // color: #65696a;
    color: black;
  }
  span {
    padding: 0px 9px;
    font-size: 18px;
    // color: #65696a;
    color: black;
  }

  .name-and-contact {
    margin-left: 42px;
    margin-bottom: 18px;
    div {
      text-align: left;
    }
    svg {
      width: 1em;
      color: black;
    }
  }
}

.resume-one-component-wrapper {
  /* DO NOT COPY THIS BLOCK */
  .container {
    width: 100%;
    margin: 0 auto;
    // margin-top: 50px;
    // padding: 30px 0;
    // height: 440px;
    overflow: auto;
  }

  .heading__three {
    font-size: 18px;
    font-weight: 600;
    // color: #3e4e68;
    color: black;
    line-height: 26px;
    margin: 0;
    font-style: normal;
    text-rendering: optimizeLegibility !important;
    color: $resume-one-primary_color;
    text-transform: uppercase;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .paragraph {
    font-size: 14px;
    font-weight: 500;
    color: black;
    line-height: 22px;
    margin: 0;
    font-style: normal;
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  .summary {
    font-size: 15px;
  }

  .stepper__row {
    // width: 623px;
    width: 100%;
    box-shadow: border-box;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    margin-bottom: 0px;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    -webkit-transition: margin 0.4s;
    transition: margin 0.4s;
  }

  .stepper__row:last-child {
    margin-bottom: 0;
  }

  .stepper__row:last-child .button__rectangle {
    display: none;
  }

  .stepper--vertical {
    display: -webkit-box;
    display: flex;
    position: relative;
    width: 100%;
  }

  .stepper--vertical__circle {
    width: 18px;
    height: 18px;
    // margin-top: 10px;
    border-radius: 50%;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    border: 2px solid $resume-one-primary_color;
  }

  .stepper--vertical__circle:after {
    // content: url('http://res.cloudinary.com/dhwx8elvg/image/upload/v1499454191/stepper-vertical-line_gu7yjs.svg');
    content: '';
    background-color: grey;
    position: absolute;
    top: 22px;
    height: 100%;
    border: 2px solid $resume-one-primary_color;
    -webkit-transform-origin: 100% 0%;
    transform-origin: 100% 0%;
    -webkit-transition: -webkit-transform 0.2s;
    transition: -webkit-transform 0.2s;
    transition: transform 0.2s;
    transition: transform 0.2s, -webkit-transform 0.2s;
  }

  .stepper--vertical__circle__text {
    align-self: center;
    font-size: 18px;
    font-weight: 500;
    color: #388cf3;
  }

  .stepper--vertical__details {
    margin-left: 24px;
    align-self: center;
    max-width: 91%;
    width: 91%;
  }

  .stepper--vertical__details .paragraph {
    margin-top: 12px;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
  }

  .stepper--vertical__details .button__rectangle {
    margin-top: 24px;
  }
  .stepper__row:last-child .stepper--vertical__circle:after {
    content: '';
    display: none;
  }
  .stepper__row--disabled {
    // margin-bottom: 45px;s
  }
  .stepper--vertical__circle {
    background-color: white;
    border: 2px solid $resume-one-primary_color;
    // background: url('http://res.cloudinary.com/dhwx8elvg/image/upload/v1499451438/step-circle-icon--disabled_xakuwy.svg');
    opacity: 0.4;
  }
  .stepper__row--disabled .stepper--vertical__circle__text {
    color: rgba(62, 78, 104, 0.7);
  }
  .stepper__row--disabled .stepper--vertical__circle:after {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }
  .stepper__row--disabled .stepper--vertical__details .paragraph {
    color: rgba(62, 78, 104, 0.8);
  }
  .stepper__row--disabled .stepper--vertical__details .heading__three {
    color: rgba(62, 78, 104, 0.7);
  }

  .stepper__row:hover {
  }

  /*DO NOT COPY THIS BLOCK EITHER */
  /* DELETE THIS IF YOU HAVE */
  /* This is only here for the buttons */
  /*  */
  /*  */
  /*  */
  /*  */
  /*  */
  .button__circle {
    border: 2px solid #388cf3;
    border-radius: 96px;
    height: 44px;
    width: 44px;
    position: relative;
    -webkit-transition: all 0.05s;
    transition: all 0.05s;
    background: #fff;
  }

  .button__circle__middle {
    position: absolute;
    -webkit-transform: translate(-50%);
    transform: translate(-50%);
    top: 32%;
    left: 50%;
  }

  .button__group {
    display: -webkit-box;
    display: flex;
  }

  .button__group .button__rectangle__button,
  .button__group .button__circle {
    margin-left: 32px;
  }

  .button__group .button__rectangle__button:first-child,
  .button__group .button__circle:first-child {
    margin-left: 0px;
  }

  .skills-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .software-skills {
    // display: block;s
    width: 80%;
    display: inline-flex;
    margin: 2px auto;
    // justify-content: space-evenly;
    div:first-child {
      float: left;
      // flex-grow: 2;
    }
    div {
      width: 50%;
      box-sizing: border-box;
      text-align: left;
    }
  }

  .button__group--margin-top {
    margin-top: 32px;
  }
  .button__rectangle__button__icon svg {
    fill: #fff;
  }
  .button__circle:hover {
    -webkit-transform: scale(1.025) translateY(-1px);
    transform: scale(1.025) translateY(-1px);
    background: #388cf3;
  }
  .button__circle:hover .button__arrow {
    fill: #fff;
  }
  .button__circle:active {
    -webkit-transform: scale(0.975) translateY(1px);
    transform: scale(0.975) translateY(1px);
  }
  .button__arrow {
    fill: #388cf3;
  }

  .button__rectangle__button {
    border: none;
    padding: 10px 30px;
    background: #388cf3;
    outline: 0;
    cursor: pointer;
    border-radius: 3px;
    color: #fff;
    font-size: 14px;
    -webkit-transition: all 0.05s;
    transition: all 0.05s;
    font-weight: 600;
    margin: 0 auto;
    font-style: normal;
    text-rendering: optimizeLegibility !important;
    font-smooth: always !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .button__rectangle__button:first-letter {
    text-transform: uppercase;
  }

  /* Icon Handlers */
  .button__rectangle__button__icon {
    padding-right: 8px;
  }

  .button__rectangle__button--default--secondary--icon .button__rectangle__button__icon svg {
    fill: #388cf3;
  }
  .button__rectangle__button--default--secondary--icon:hover .button__rectangle__button__icon svg {
    fill: #2a476d;
  }

  .button__rectangle__button--neutral--secondary--icon .button__rectangle__button__icon svg {
    fill: #647a89;
  }
  .button__rectangle__button--neutral--secondary--icon:hover .button__rectangle__button__icon svg {
    fill: black;
  }

  .button__rectangle__button--negative--secondary--icon .button__rectangle__button__icon svg {
    fill: #ff4876;
  }
  .button__rectangle__button--negative--secondary--icon:hover .button__rectangle__button__icon svg {
    fill: #6d2a43;
  }

  .button__rectangle__button--default--secondary,
  .button__rectangle__button--default--secondary--icon {
    border: none;
    padding: 10px 30px;
    background: #fff;
    outline: 0;
    cursor: pointer;
    border-radius: 3px;
    color: #388cf3;
    font-size: 14px;
    -webkit-transition: all 0.05s;
    transition: all 0.05s;
    border: 2px solid #388cf3;
    font-weight: 600;
    background: #fff;
  }

  .button__rectangle__button--neutral {
    background: #647a89;
  }
  .button__rectangle__button--neutral--secondary,
  .button__rectangle__button--neutral--secondary--icon {
    border: 2px solid #647a89;
    color: #647a89;
    background: #fff;
  }

  .button__rectangle__button--negative {
    background: #ff4876;
  }
  .button__rectangle__button--negative--secondary,
  .button__rectangle__button--negative--secondary--icon {
    border: 2px solid #ff4876;
    color: #ff4876;
    background: #fff;
  }
  .button__rectangle__button--default--negative {
    border-color: #ff4876;
    color: #ff4876;
  }
  .button__rectangle__button:hover {
    -webkit-transform: scale(1.05) translateY(-1px);
    transform: scale(1.05) translateY(-1px);
    background: #2a476d;
  }
  .button__rectangle__button--default--secondary:hover,
  .button__rectangle__button--default--secondary--icon:hover {
    -webkit-transform: scale(1.05) translateY(-1px);
    transform: scale(1.05) translateY(-1px);
    border-color: #2a476d;
    color: #2a476d;
    background: #fff;
  }
  .button__rectangle__button:active {
    -webkit-transform: scale(0.995) translateY(1px);
    transform: scale(0.995) translateY(1px);
  }
  .button__rectangle__button--neutral:hover {
    background: black;
  }
  .button__rectangle__button--neutral--secondary:hover,
  .button__rectangle__button--neutral--secondary--icon:hover {
    border-color: black;
    color: black;
    background: #fff;
  }
  .button__rectangle__button--negative:hover {
    background: #6d2a43;
  }
  .button__rectangle__button--negative--secondary:hover,
  .button__rectangle__button--negative--secondary--icon:hover {
    border-color: #6d2a43;
    color: #6d2a43;
    background: #fff;
  }
  .button__rectangle__button--default__icon {
    margin-right: 10px;
  }
}

.resume-one-component-wrapper {
  h4 {
    margin-bottom: 0;
  }
  .what-and-when {
    display: flex;
  }
  .work-experiences,
  .year-degree {
    display: flex;
    // margin-bottom: 22px;
    width: 100%;

    .degree {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .duration {
      font-style: italic;
      font-weight: 600;
    }
    .worked-projects,
    .duration + div {
      width: 100%;

      h4 {
        margin-top: 8px;
      }
      .role {
        font-weight: 600;
        opacity: 0.9;
        font-size: 20px;
      }

      .divider {
        margin: 0px 4px;
      }

      .project-company {
        flex-grow: 2;
      }

      .project-description {
        text-align: justify;

        span {
          font-size: 15px;
        }
      }

      ul {
        padding-left: 18px;
        li {
          font-size: 15px;
          padding: 2px 0px;
        }
      }
    }
  }
}
