.parent-wrapper {
  width: calc(100% - 300px);
  margin-left: 300px;
  height: 100%;
  position: relative;
  box-sizing: border-box;
  display: inline-block;
  overflow: auto;
  .title {
    text-align: center;
    margin: 0;
  }
}
.skill-container {
  .bar-chart {
    display: block !important;
    width: 50% !important;
    margin: 0 auto;
  }
}

.Expertise {
  height: 400px;
}

h2 {
  margin-top: 0;
}

@media (min-width: 300px) and (max-width: 800px) {
  .parent-wrapper {
    width: 100%;
    margin: 0;
    padding: 40px 0px;
    .bar-chart {
      width: 100% !important;
    }

    .chart-wrapper {
      min-height: 280px;
      .title {
        text-align: center;
        line-height: 36px;
        border: 2px dashed black;
        border-bottom: 2px solid black;
        text-transform: capitalize;
      }

      canvas {
        // transform: scale(1.2);
      }
    }
  }
}

@media (min-width: 800px) {
  .parent-wrapper {
    .chart-wrapper {
      width: 50%;
      display: inline-block;
    }
  }
}

@media (min-width: 800px) and (max-width: 1023px) {
  .parent-wrapper {
    width: 100%;
    margin: 0;
    padding: 0;
  }
}

@media (min-width: 1024px) and (max-width: 1200px) {
  .parent-wrapper {
    width: calc(100% - 64px);
    margin-left: 64px;
    padding: 0;
  }
}

@media screen and (min-width: 1201px) {
  .parent-wrapper {
    .title {
      text-align: left;
      margin: 0;
    }
  }
}
